/problem\ set\ 3/Krause_Philip_3_1
/problem\ set\ 3/Krause_Philip_3_2
/problem\ set\ 3/Krause_Philip_3_3
/problem\ set\ 3/Krause_Philip_3_1.exe
/problem\ set\ 3/Krause_Philip_3_2.exe
/problem\ set\ 3/Krause_Philip_3_3.exe
/problem\ set\ 3/Krause_Philip_3_4
/problem\ set\ 3/Krause_Philip_3_4.exe
/problem\ set\ 3/Krause_Philip_3_4.o
gnuplot_tmpdatafile_a06776
/problem\ set\ 4/Krause_Philip_PS4
